

#titre
{
    margin-top: 307px;
    color:#011621;
    display: block;
}

#Développeur
{
    margin-top: -45px;
    color:#011621;
    display: block;
    margin-left: 658px;
    font-size: 23px;
    line-height: inherit;
    font-family: 'Playball', cursive;

}

#armand
{
    margin-top: 281px;
    margin-left: 544px;
    display: block;
    font-style: inherit;
    font-size: 30px;
    color: #011621;
    font-family: 'Playball', cursive;
}

#facebook
{
    height: 10px;
    margin-top: 0px;
    width: 5px;

    margin-left: 537px;
}

#messenger
{
    height: 10px;
    margin-top: -26px;
    width: 5px;
    display: block;
    margin-left: 926px;

}

#linkedin
{
    height: 10px;
    margin-top: 6px;
    width: 5px;
    display: block;
    margin-left: 675px;
}

#gmail
{
    height: 10px;
    margin-top: -9px;
    width: 5px;
    display: block;
    margin-left: 806px;
}

#mail
{

    margin-top: 241px;
    width: 5px;
    display: block;
    margin-left: 535px;
    font-size: 25px;
    vertical-align: middle;
    color:#011621;
}
#num
{
    margin-top: -30px;
    width: 5px;
    display: block;
    margin-left: 834px;
    font-size: 30px;
    color:#011621;


}

#margin
{
    margin:250px ;
}